body,
html {
    background-color: rgb(15, 22, 36);
    height: auto;
    width: 99%;
    overflow-x: hidden;
}

.fadeText {
    font-weight: 800;
    font-size: 65px;
    line-height: 72px;
    width: max-content;
    max-width: 100%;
    margin-bottom: 16px;
    background: linear-gradient(121.57deg, rgb(255, 255, 255) 18.77%, rgba(187, 184, 184, 0.66) 60.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 58px 0px 16px;
}

nav {
    text-align: center;
    color: rgba(252, 251, 251, 0.754);
    font-size: 30px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: rgba(252, 251, 251, 0.754);
    transition: 0.4s ease;
}

a:hover {
    color: white;
}

h2 {
    color: rgb(132, 133, 142);
    font-size: 24px
}

.linkcon {
    justify-content: space-evenly;
    display: flex;
}

.soc-logo {
    width: 40px;
    border-radius: 20px;
    transition: transform 0.5s ease;
}

.soc-logo:hover {
    transform: scale(1.2);
}

.cv {
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    background: linear-gradient(to right, #9c59b6d5, #53afedd0);
    border: none;
    font-size: 35px;
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.859);
    transition: transform 0.5s ease;
    font-weight: bold;
}

.cv:hover {
    transform: scale(1.1);
    background: linear-gradient(to right, #9b59b6, #3498db);
}

.streep {
    height: 10px;
    width: 10%;
    background: linear-gradient(to right, #9b59b6, #3498db);
    border-radius: 10px;
}

.streep2 {
    height: 2px;
    width: 100%;
    background-color: rgb(33, 45, 70);
}

.white {
    width: 100%;
    height: 100px;
}
.whitesmall {
    width: 100%;
    height: 50px;
}

.projcard {
    background-color: rgb(15, 22, 36);
    padding: 0px;
    box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.25);
    border-radius: 15px;
}

.projtitel {
    color: rgba(107, 215, 255, 0.773);
    text-align: center;
    font-size: 27px;
    font-weight: bold;
}

.projstreep {
    height: 5px;
    width: 20%;
    margin-top: 10px;
    margin-left: 41%;
    background-color: rgb(212, 212, 106);
}

.projimg {
    width: 100%;
}

.projbody {
    height: auto;
    color: white;
    text-align: center;
}

.projtech {
    word-spacing: 2vw;
}

.projbutton {
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    font-size: 25px;
    border-radius: 30px;
    background-color: rgba(107, 215, 255, 0.773);
    transition: all 0.5s ease;
}

.projbutton:hover {
    background-color: rgba(107, 216, 255, 0.551);
}

.skillcard {
    padding: 5px;
    transition: all 0.2s;
}

.skillcard:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px;

}

.skillsimg {
    width: 25px;
    margin-top: 5px;
    margin-left: 1px;
}

.skillstitel {
    color: white;
    font-size: 28px;
}

.skilltekst {
    font-size: 20px;
}

.email {

    font-size: 13px;
    font-weight: bold;
    color: rgba(132, 133, 142, 0.7);
    margin-top: 20px;
}

.email-kyano {

    font-size: 18px;
    font-weight: bold;
    color: rgb(132, 133, 142);
    margin-top: 20px;
    
    transition: translate 0.5s ease;
}

.email-kyano:hover {
    translate: 15px;
    transition: 1s;
    color: white;
}

.aboutme {
    height: auto;
    width: 100%;
}

.aboutmeimg {
    width: 350px;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}

@media (max-width: 1000px) {
    .spacing {
        height: 50px;
        width: auto;
    }
    .marginskills {
        margin-bottom: 40px;
    }
    .marginleftskills {
        margin-left:15% ;
    }
}

.visible {
    opacity: 1;
  }
  .hidden {
    opacity: 0;
    transition: opacity 0.5s;
  }

  #cvMessage {
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px;
    margin-top: 10px;
  }
  
  div.taal {
    font-size: 10px;
  }
  